@import "/src/shared/ui/core/scss/var";

.container {
  position: relative;
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}
.advantage_banner_section_bc {
  display: flex;

  max-width: none;
  background-color: #dee3f0;
  padding-top: 34px;
  max-height: none;
  margin-bottom: 150px;
  height: 339px;

  @media (max-width: $md) {
    display: block;
    max-width: none;
    max-height: 550px;
    background-color: #dee3f0;
    padding-top: 27px;
    margin-bottom: 0;
    height: 400px;
  }

  @media (max-width: $xs) {
    display: block;
    max-width: none;
    max-height: none;
    background-color: #dee3f0;
    padding-top: 34px;
    height: 360px;
    margin-bottom: 120px;
  }
}

.icon {
  color: $primary-color;
  top: -45px;
  left: -130px;
  position: absolute;

  @media (max-width: $md) {
    top: -40px;
    left: 20%;
    right: 70%;
    margin: auto;
    position: absolute;
  }

  @media (max-width: $sm) {
    left: 10px;
    width: 45px;
    top: -65px;
  }
}

.title_vds {
  width: 435px;
  font-size: 45px;
  margin-bottom: 24px;
  margin-right: -90px;
  text-align: left;
  @media (max-width: $md) {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: $xs) {
    font-size: 24px;
    width: 100px;
  }
}

.title {
  width: 324px;
  margin-bottom: 0px;
  padding-top: 0;
  margin-left: 170px;

  @media (max-width: $md) {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $xs) {
    text-align: center;
    font-size: 24px !important;
    width: 100% !important;
    margin-bottom: 54px;
    max-width: none;
    padding-top: 0;
    padding-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}
