@import "/src/shared/ui/core/scss/var";

.loader {
  position: relative;
  width: 36px;
  height: 10px;

  &:before,
  &:after,
  &__inner {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation-fill-mode: both;
    background-color: #ffffff;
  }

  &__inner {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    animation-delay: -0.16s;
    animation: load_inner 1.8s infinite ease-in-out;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    animation: load 1.8s infinite ease-in-out;
  }

  &:before {
    left: 0;
    animation-delay: -0.2s;
  }

  &:after {
    right: 0;
    animation-delay: 0.2s;
  }

  &.primary {
    &:before,
    &:after,
    .loader__inner {
      background-color: $primary-color;
    }
  }

  &.secondary {
    &:before,
    &:after,
    .loader__inner {
      background-color: $primary-color;
    }
  }

  &.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.currentColor {
    &:before,
    &:after,
    .loader__inner {
      background-color: currentColor;
    }
  }
}

@keyframes load {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes load_inner {
  0%,
  80%,
  100% {
    transform: translate(-50%, 0) scale(0);
  }
  40% {
    transform: translate(-50%, 0) scale(1);
  }
}
