@import "/src/shared/ui/core/scss/var";

.popup {
  background: white;
  box-shadow: $shadow;
  border-radius: $radius;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 20px);
  transition: 0.3s;
  visibility: hidden;
  min-width: 360px;

  &.active {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
    visibility: visible;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: $shadow;
    background: white;
    top: -10px;
    left: 50%;
  }
}

.content {
  padding: 40px 50px;
  position: relative;
  background: white;
  border-radius: $radius;
}

@media (max-width: $xs) {
  .popup {
    min-width: 200px;
  }
  .content {
    padding: 30px 20px;
  }
}
